/* Setting up the grid layout */
.App {
  height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 4rem 1fr;
}

.App-header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.list-nav {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.containerElement {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

/* HEADER */
.App-header {
  background-color: #1B2F33;
  border-bottom: 5px solid #85FFC7;
}

.App-header h1 {
  line-height: 4rem;
  margin: 0 0 0 1rem;
  color: #FF8552;
}

/* NAV */
.list-nav {
  background-color: #1B2F33;
  border-right: 5px solid #85FFC7;
  overflow: auto;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-list li {
  border-bottom: 2px solid #85FFC7;
  padding: 1rem 0 1rem 1rem;
}

.nav-list li:hover {
  cursor: pointer;
}

/* INFOWINDOW */
.info-window {
  width: 200px;
}